.Avenir-900-90{
    font: 900 90px 'Avenir', sans-serif;
}

.Avenir-32{
    font: 32px 'Avenir', sans-serif;
}

.Avenir-500-20{
    font: 500 20px 'Avenir', sans-serif;
}

.Avenir-700-20{
    font: 700 20px 'Avenir', sans-serif;
}

.Avenir-M-18{
    font: bold 18px 'Avenir', sans-serif;
}

.Avenir-17{
    font: 17px 'Avenir', sans-serif;
}

.OpenSans-17-SB{
    font: 600 17px 'Open Sans', sans-serif;
}

.OpenSans-17-R{
    font: 400 17px 'Open Sans', sans-serif;
}

.Avenir-M-16{
    font: bold 16px 'Avenir', sans-serif;
}

.Avenir-16{
    font: 16px 'Avenir', sans-serif;
}

.OpenSans-15-R{
    font: 400 15px 'Open Sans', sans-serif;
}

.Avenir-15{
    font: 15px 'Avenir', sans-serif;
}

.Avenir-14{
    font: 14px 'Avenir', sans-serif;
}

.OpenSans-14{
    font: 14px 'Open Sans', sans-serif;
}

.Avenir-12{
    font: 12px 'Avenir', sans-serif;
}

.OpenSans-12-R{
    font: 400 12px 'Open Sans', sans-serif;
}