    
    .ccc {
      border: 2px solid red;
    }
.tableprv{
  box-sizing: border-box;
  width: 90%;
  border-collapse: collapse;
  height: auto;
  margin: 0px auto;
  margin-left: 30px;
  /* UI Properties */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
  
}

.tableprv>thead{
    background-color: #1f9bed;
    width: 1295px;
height: 50px;
/* UI Properties */
background: #2F2F2F 0% 0% no-repeat padding-box;
border: 1px solid #ffffff;
border-radius: 2px;
    color: white;
}
.mainRow{
  height: 50px;
}
.tableprv>thead>tr>th{
  text-align: left;
  padding-left: 20px;
}
.tableprv>thead>tr>th:nth-child(7){
  text-align: center;
  width: 10%;
 
}
.tableprv>thead>tr>th:nth-child(8){
  text-align: center;
  margin-right: 10px;
  width: 10%;
 
}

.tableBody>tr>td:nth-child(1){
  
  width: 25%;
  text-align: left;
  
}
.tableBody>tr>td:nth-child(2){
  
  width: 10%;
  text-align: left;
  
}


.tableBody>tr>td:nth-child(3){
 
  width: 8%;
}
.tableBody>tr>td:nth-child(4){

  width: 8%;
}
.tableBody>tr>td:nth-child(5){
 
  width: 8%;
}
.tableBody>tr>td:nth-child(6){
  width: 8%;
}
.tableBody>tr>td:nth-child(7){
  width: 15%;
  text-align: left;
  text-align: center;
  
}
.tableBody>tr>td:nth-child(8){
  width: 8%;
 

}
    
    .ProductImage {
      top: 197px;
      width: 35px;
      height: 35px;
      margin-left: 10px;
      background: transparent 0% no-repeat padding-box;
      border-radius: 5px;
      opacity: 1;
    }
    .ProductDecription{
      margin: auto 10px;
    }
    .ProductName{
      font-size: larger;
      font-size: 15px;
    }
    .ProductDetails{
      font-size: 10px;
      color: gray;
    }


    .productname1 {
      top: 180px;
      width: 42px;
      height: 19px;
      padding-left: 38px;
      font: normal normal 600 14px/48px Open Sans;
      letter-spacing: 0px;
      color: #1d2022;
      opacity: 1;
    }
    
    input[type=number]::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    
    .qunatity {
      margin-left: 30px;
      text-align: center;
      width: 63px;
      height: 26px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 1px solid #5861AE;
      border-radius: 2px;

     
    }
    .icon {
      margin: 0px 40px;
    }

    
 
    div.btnScetion {
      text-align: right;
      margin-right: 5%;
      padding-bottom: 2em;
    }
    .button2 {
      background-color: #5861ae;
      color: white;
      opacity: 1;
      border: 1px solid #000000;
      height: 30px;
      border-radius: 8px;
      width: 100px;
      margin-top: 10px;
    }
    
    .button1 {
      color: #5861ae;
      border-radius: 8px;
      background-color: #FFFFFF;
      border: 1px solid #5861ae;
      margin-right: 2%;
      height: 30px;
      width: 100px;
      margin-top: 10px;
    }
    
    .Cimage {
      width: 35px;
      height: 35px;
    }
    .CimageConatiner {
      display: flex;
    }
    
    .resetBtn {
      width: 81px;
      height: 32px;
      border: 1px solid #5861AE;
      border-radius: 4px;
      background-color: #ffffff;
      color: #5861AE;
      
    }
    