.GSucessFullModal{
    text-align: center;
    position: fixed;
    top: 115px;
    left: 517px;
    width: 350px;
    height: 400px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 0.9em;
    opacity: 1;
    z-index: 1;
    border: 1px solid #5861AE;
    padding-top: 3em ;
    padding-left: 55px;
  
  }
  
  .GContainerSucess{
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
  }
  
  .GimageSucessfullImage{
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-color: #5861AE60;
  }
  